In [4]:
from binance.client import Client
import pandas as pd

In [5]:
client = Client()

# -- You can change the crypto pair ,the start date and the time interval below --
pairName = "BTCUSDT"
startDate = "01 january 2017"
timeInterval = Client.KLINE_INTERVAL_1HOUR

# -- Load all price data from binance API --
klinesT = client.get_historical_klines(pairName, timeInterval, startDate)

# -- Define your dataset --
df = pd.DataFrame(klinesT, columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_av', 'trades', 'tb_base_av', 'tb_quote_av', 'ignore' ])
df['close'] = pd.to_numeric(df['close'])
df['high'] = pd.to_numeric(df['high'])
df['low'] = pd.to_numeric(df['low'])
df['open'] = pd.to_numeric(df['open'])

# -- Set the date to index --
df = df.set_index(df['timestamp'])
df.index = pd.to_datetime(df.index, unit='ms')
del df['timestamp']

print("Data loaded 100%")
df

Data loaded 100%

,open,high,low,close,volume,close_time,quote_av,trades,tb_base_av,tb_quote_av,ignore
timestamp,,,,,,,,,,,
2017-08-17 04:00:00,4261.48,4313.62,4261.32,4308.83,47.18100900,1502945999999,202366.13839304,171,35.16050300,150952.47794304,0
2017-08-17 05:00:00,4308.83,4328.69,4291.37,4315.32,23.23491600,1502949599999,100304.82356749,102,21.44807100,92608.27972836,0
2017-08-17 06:00:00,4330.29,4345.45,4309.37,4324.35,7.22969100,1502953199999,31282.31266989,36,4.80286100,20795.31722405,0
2017-08-17 07:00:00,4316.62,4349.99,4287.41,4349.99,4.44324900,1502956799999,19241.05829986,25,2.60229200,11291.34701534,0
2017-08-17 08:00:00,4333.32,4377.85,4333.32,4360.69,0.97280700,1502960399999,4239.50358563,28,0.81465500,3552.74681715,0
...,...,...,...,...,...,...,...,...,...,...,...
2022-12-08 09:00:00,16832.00,16846.34,16793.00,16801.58,7654.41318000,1670493599999,128722169.25816810,158000,3538.91258000,59514862.05294720,0
2022-12-08 10:00:00,16801.18,16834.66,16798.71,16822.91,5895.27037000,1670497199999,99151637.42552240,126288,2999.85355000,50455096.13405670,0
2022-12-08 11:00:00,16822.91,16863.01,16733.49,16851.02,12875.07375000,1670500799999,216477165.50949890,236888,6380.90174000,107288557.03135070,0
2022-12-08 12:00:00,16850.88,16879.16,16826.02,16829.14,10011.42837000,1670504399999,168663675.68356160,213166,4799.76595000,80865271.51319320,0
2022-12-08 13:00:00,16829.14,16832.61,16802.88,16826.63,2629.37002000,1670507999999,44222908.64107330,53266,1210.16760000,20353594.98486260,0

In [8]:
import pandas as pd
import ccxt

def get_historical_from_db(exchange, symbol, timeframe, path="database/"):
    symbol = symbol.replace('/','-')
    df = pd.read_csv(filepath_or_buffer=path+str(exchange.name)+"/"+timeframe+"/"+symbol+".csv")
    df = df.set_index(df['date'])
    df.index = pd.to_datetime(df.index, unit='ms')
    del df['date']
    return df

get_historical_from_db(ccxt.binance(), "BTC/USDT", "1h", path="./")

                         open      high       low     close        volume
date
2017-08-17 04:00:00   4261.48   4313.62   4261.32   4308.83     47.181009
2017-08-17 05:00:00   4308.83   4328.69   4291.37   4315.32     23.234916
2017-08-17 06:00:00   4330.29   4345.45   4309.37   4324.35      7.229691
2017-08-17 07:00:00   4316.62   4349.99   4287.41   4349.99      4.443249
2017-08-17 08:00:00   4333.32   4377.85   4333.32   4360.69      0.972807
...                       ...       ...       ...       ...           ...
2022-12-08 08:00:00  16825.55  16839.99  16817.81  16832.77   5567.425170
2022-12-08 09:00:00  16832.00  16846.34  16793.00  16801.58   7654.413180
2022-12-08 10:00:00  16801.18  16834.66  16798.71  16822.91   5895.270370
2022-12-08 11:00:00  16822.91  16863.01  16733.49  16851.02  12875.073750
2022-12-08 12:00:00  16850.88  16879.16  16828.29  16836.70   9395.481950

[46418 rows x 5 columns]